@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

button {
  cursor: pointer;
  font: inherit;
  background-color: #ff3333;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  color: white;
}

button:hover,
button:active {
  background-color: #ff2828;
  border-color: #ffffff;
}
